NEXT_PUBLIC_CONTRACT_ID=
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NATIVE_TOKEN=
NEXT_PUBLIC_ADMIN_ADDRESS=
NEXT_PUBLIC_IPFS_GATEWAY_URL=https://dweb.link/ipfs/
NEXT_PUBLIC_WEB3_STORAGE_TOKEN=
